*.7z
*.rar
*.zip
*.debug
*.log
*.exe
!TobExLoader.exe
setup-item_rev
setup-item_rev.command
item_rev/debug
item_rev/backup/*
!item_rev/backup/g3.ico
!item_rev/backup/g3_sfx.ico
!item_rev/backup/g3readme.css
